@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

html {
    font-family: 'Roboto', sans-serif;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to { 
        transform: rotate(360deg);
    }
}

.rotator {
    animation-name: rotate; 
    animation-duration: 3s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
